# Virtual environment
/penv

# Cache
__pycache__/
*.py[cod]
*$py.class

# A sqlite3 database for regression tests
/regress.db

# Jetbrains IDEs
/.idea

# Django static root
#
# The static directory is only used in production. When the app starts, we
# check out the latest index.html from the CDN into this directory
# (backend/wsgi.py). The other static assets are served from the CDN directly.
/static
