@import '../colors';

.logo {
  height: auto;
  max-width: 300px;
  min-width: 150px;
  width: 50%;

  &-svg {
    height: auto;
    max-width: 300px;
    min-width: 150px;
    width: 100%;

    path {
      fill: $logo-color;
    }
  }
}
