@import '../colors';

.form{
	*{
		margin: .5em;
	}
	label{
		font-size: 1.5em;
		color: $primary-color;
	}
	input{
		border-radius: .35em;
	}
	button{
		background-color: $backgroud-color-light;
		border-radius: .35em;
		color: $logo-color;
	}
}
