@import '../colors';

.user_bar{
	
	display: flex;
	height: 2em;
	margin: .5em;
	
	.user_name{
		max-width: 20%;
		min-width: 20%;

		strong{
			color: $primary-color;
		}
	}

	.user_delta{
		text-align: center;
		background-color: $logo-color;
		border-radius: .5em;
		color: $backgroud-color-light;
	}
	.zero_delta{
		color: $primary-color;
	}
}

