@import '../breakpoints';
@import '../colors';

.landing-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $backgroud-color-light;

  a {
    font-size: 14px;
    color: $primary-color;
    margin: 10px;

    @include breakpoint-tablet-down {
      font-size: 12px;
    }
  }
}
