@import '../breakpoints';
@import '../colors';

.landing-footer {
  background-color: $backgroud-color-light;
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    @include breakpoint-tablet-down {
      font-size: 12px;
    }

    color: $primary-color;
    font-size: 14px;
    margin: 10px;
  }
}
