$guest-page-min-width: 200px;

%guest-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: $guest-page-min-width;

  .main {
    // Another flex box to align its children vertically
    align-items: center;
    display: flex;
    flex: 1 100%;
    flex-direction: row;

    p {
      width: 100%;
    }
  }
}
